html, body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.estados__container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
}

.estados__item {
    margin: 20px;
    padding: 30px;
    height: 300px;
}

.nav__estado h1{
    font-weight: bold;
}

