/* Mision y vision */

.mv__container {
  
  width: 80% !important;
  height: 220px !important;
  margin: auto !important;
  background-image: url(/Pagina-nordvitalips/images/Quienes-somos/MISION_Y_VISION.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px !important;
}

.mv__titulo h5 {
  font-weight: bolder;
  font-size: 35px;
}

.mv__titulo p {
  width: 55%;
}


/* Quienes somos */

.quienes__somos {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.quienes__somos__item-uno {
  width: 37%;
}

.quienes__somos__item-uno h1 {
  font-size: 35px;
}

.mv__uno {
  padding: 3rem !important;
}

.mv__resena {
  width: 75%;
}

.mv__resena h1,
.quienes__somos__item-uno h1,
.quienes__somos__item-uno h2,
.mv__contenido h4 {
  color: #00b3a0;
}


.mv__resena h1 {
  font-weight: 700;
}

.quienes__somos__item {
  width: 50%;
  height: auto;
}

.quienes__somos__item-uno {
  text-align: justify;
}

.quienes__somos__item-uno p,
.quienes__somos__item p {
  font-weight: 500;
  text-align: justify;
}
